<div class="center">
  <h1 class="h3">{{resort-description name=name location=state}}</h1>
  <div class="jumbo">
    {{weather-icon this.weather}}/{{currentSnowfall}}
  </div>
  <div>
    48 Hour: {{last_48_hours_snowfall}}",
    72 Hour: {{last_72_hours_snowfall}}"
  </div>
  <div class="h5 mt0 p0">{{conditions}} and {{pretty-temperature temperature}}</div>

  Updated {{time-ago-in-words updatedAt}}

  {{#if hasWind}}
    <div class="h5">
      {{weather-icon 'windy'}} {{wind}} MPH
    </div>
  {{/if}}

  {{#link-to 'forecast' this.forecast}}
    See Full Forecast
  {{/link-to}} <br>
  {{#link-to 'resorts'}}
    See All Resorts
  {{/link-to}}
</div>
