<div class="center">
  <h1 class="h3">{{fullDescription}}</h1>
  <div class="jumbo">{{weather-icon this.weather}}/{{currentSnowfall}}</div>
  <div class="h5 mt0 p0">{{conditions}} and {{temperature}}&#176;F</div>

  {{#if hasWind}}
    <div class="h5">
      {{weather-icon 'windy'}} {{wind}} MPH
    </div>
  {{/if}}

  {{#link-to 'forecast' this.forecast}}
    See Full Forecast
  {{/link-to}}
</div>
