<h1>{{listFilterObject.name}}</h1>

<dl>
  <dt>
    Elevation
  </dt>
  <dd>
    {{listFilterObject.elevation}} 
  </dd>

  <dt>
    Last 24 Hours Snowfall
  </dt>
  <dd>
    {{listFilterObject.last_24_hours_snowfall_in}}&quot;
  </dd>

  <dt>
    Last 7 Days Snowfall
  </dt>
  <dd>
    {{listFilterObject.last_7_days_snowfall_in}}&quot;
  </dd>

  <dt>
    Location
  </dt>
  <dd>
    {{listFilterObject.state}}: {{listFilterObject.latitude}}, {{listFilterObject.longitude}}
  </dd>

  <dt>
    Last Updated
  </dt>
  <dd>
    {{listFilterObject.time-ago-in-words updatedAt}}
  </dd>
</dl>

{{outlet}}
